body {
    padding: 3mm;
    font-family: Verdana, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*height: 700px;*/
}

.question {
    font-family: Verdana, serif;
    font-size: 12pt;
    color: #5A5A5A
}

.hidden {
    font-size: 8pt;
    float: right;
    color: grey;
}

.heading-box {
    line-height: 1em;
    padding-top: 3mm;
    padding-bottom: 3mm;
}

.feature-box {
    /*border-radius: 10px;*/
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 10px;
    padding: 3px 10px;
}

.blue {
    border-color: #BDCDD6;
    background: #BAD7E9;
}

a {
    color: #00337C;
}

.error-message {
    color: white;
    background: #B73E3E;
    box-shadow: 1px 1px 2px #B73E3E;
    padding: 5px;
}

.drk-blue {
    background-color: #00337C;
    color: white;
    border-color: darkblue;
}

  .progress {
    height: 50px;
    width: 50%;
    margin: auto;
  }

#innerStatus {
    text-align: center;
    padding-top: 8px;
    font-size: 20pt;
}

.inner-box {
    height: 50px;
    width: 9.5%;
    margin: auto;

}

.visible {
    background-color: #146C94;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.nav-button:hover {
    background: #BAD7E9;
}

.url-ex {
    padding: 1mm;
    margin: auto;
    width: 80%;
}

/* ---------------------
 Title: HTML – How to Show Text Above Image on Hover
 Author: Singh, Yogesh
 12.5.2022 (accessed 1.25.2023)
 Available at: https://makitweb.com/html-how-to-show-text-above-image-on-hover/
 Modified by Emma Lynn
*/

/* Parent Container */
.content_img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

/* Child Text Container */
.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%
}

/* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
}

.content_img:hover div{
    width: 600px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
    margin-bottom: 15px;
    font-family: Verdana, serif;
}

/* --------------------- */