<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bug Reports</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
        <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
    </head>
    <body>


    <div class="heading-box">
        <h1>Bug Reports</h1>
        <p>Center for Instructional Design and Innovation - USU</p>
        <p>Created and maintained by Emma Lynn (a02391851@usu.edu)</p>
        <a href="https://github.com/emmalynnnn/">[Source]</a>
    </div>

    <br>


    <div class="feature-box blue">
        <br>
        <h3>Report an Error</h3>
        <br>

        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="feature-box error-message">Error: {{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <form method="POST" action="/bug-report">
            <div class="form-group">
                <label for="app-name">Application</label>
                <select name="app-name" class="form-select">
                    <option value=""></option>
                    <option value="QA Update">QA Update</option>
                </select>

                <input name="check" class="visually-hidden" tabindex="-1" autocomplete="off">

                <br>
                <label for="date-time">Date and approximate time the error occurred</label>
                <input type="text" name="date-time" class="form-control" value="{{ request.form['date-time'] }}"></input>

                <br>
                <label for="expected-behavior">What did you expect to happen?</label>
                <input type="text" name="expected-behavior" class="form-control" value="{{ request.form['expected-behavior'] }}"></input>

                <br>
                <label for="actual-behavior">What actually happened?</label>
                <input type="text" name="actual-behavior" class="form-control" value="{{ request.form['actual-behavior'] }}"></input>

                <br>
                <label for="errors">Did you receive any error messages? When did they appear and what did they say?</label>
                <input type="text" name="errors" class="form-control" value="{{ request.form['errors'] }}"></input>

                <br>
                <label for="browser">Web browser used</label>
                <input type="text" name="browser" class="form-control" value="{{ request.form['browser'] }}"></input>

                <br>
                <label for="other-info">Any other relevant information</label>
                <input type="text" name="other-info" class="form-control" value="{{ request.form['name'] }}"></input>

                <br>
                <label for="name">Your name (Optional if you would like me to get back to you with an update)</label>
                <input type="text" name="name" class="form-control" value="{{ request.form['name'] }}"></input>

                <br>
                <label for="email">Your email (Optional if you would like me to get back to you with an update)</label>
                <input type="email" name="email" class="form-control" value="{{ request.form['email'] }}"></input>

                <br>
                <p>Thank you for your feedback.</p>

                <button type="submit" class="btn btn-light button">Submit</button>
            </div>

            <br>
        </form>

    </div>

    </body>
</html>
