<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>QA Update Automation</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>


    <div class="heading-box">
        <h1>QA Update Automation</h1>
        <p>Center for Instructional Design and Innovation - USU</p>
        <p>Created and maintained by Emma Lynn (a02391851@usu.edu)</p>
        <a href="https://github.com/emmalynnnn/cidi-monday-QA-automation">[Source]</a>
    </div>

    <br>

    <div class="feature-box blue">
        <br>
        <h2>Update in progress</h2>

        <div class="progress">
            <div class="status">
                <h2 id="innerStatus">Loading...</h2>
            </div>
        </div>

        <br>
    </div>

    <br>

    <p class="btn btn-dark button" id="quit" onclick="endUpdate()">Stop checking for updates</p>

    <!--<form method="POST" action="/updating">
            <input type="hidden" name="stop-process" value="stop-process"></input>

            <div class="form-group">
                <button type="submit" class="btn btn-dark button">Quit x</button>
            </div>

        </form>-->

    <a class="btn btn-dark button" href="/">Back <</a>
    <p>(Update process will continue if incomplete!)</p>

    </body>

<script src="{{ url_for('static', filename= 'js/status.js') }}" type="text/javascript"></script>

</html>
